@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');


* {
    font-family: 'PT Mono', monospace;
    margin: 0;
}

html {
    margin: 0;
}

body {
    background-color: #171941;
    background-repeat: no-repeat;
    background-size: 150vw 150vh;
    overflow-x: hidden;
    overflow-y: visible;
}

header h1 {
    text-align: center;
    padding: 30px;
    color: #a80000;
    font-weight: bold;
}

h1 {
    font-size: 28px;
}

h4 {
    font-size: 17px;
}

.row {
    width: 30rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #e44cc4;
    z-index: 1;
}

a:hover {
    transition: ease-in .2s;
    transform: scale(1.01);
    cursor: pointer;
    color: #e44cc4;
}

a:hover i {
    opacity: 0.7;
    transition: ease-in .2s;
}

a:hover img {
    opacity: 0.7;
    transition: ease-in .2s;
}

i {
    font-size: 75px;
    float: left;
    margin-top: -27px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    float: left;
    margin-top: -15px;
    margin-left: 20px;
    margin-right: 20px;
}

#arrow {
    float: right;
    top: 0;
}

.github-card {
    background: linear-gradient(45deg, #5457f5 0%, #8556e3 100%);
    border-radius: 5px;
    padding: 10px;
    width: 30rem;
    height: 7.5rem;
    margin: 0 auto;
}

.github-card h1 {
    margin: 15px 0px -5px 20px;
}

.github-card h4 {
    margin-top: 5px;
}

.discord-card {
    background: linear-gradient(45deg, #5457f5 0%, #8556e3 100%);
    border-radius: 5px;
    padding: 10px;
    width: 30rem;
    height: 7.5rem;
    margin: 0 auto;
}

.discord-card h1 {
    margin: 15px 0px -5px 20px;
}

.discord-card h4 {
    margin-top: 5px;
}

.discord-profile-card {
    background: linear-gradient(45deg, #5457f5 0%, #8556e3 100%);
    border-radius: 5px;
    padding: 10px;
    width: 30rem;
    height: 7.5rem;
    margin: 0 auto;
}

.discord-profile-card h1 {
    margin: 15px 0px -5px 20px;
}

.discord-profile-card h4 {
    margin-top: 5px;
}

.store-card {
    background: linear-gradient(45deg, #5457f5 0%, #8556e3 100%);
    border-radius: 5px;
    padding: 10px;
    width: 30rem;
    height: 7.5rem;
    margin: 0 auto;
    z-index: -1;
}

.store-card h1 {
    margin: 15px 0px -5px 20px;
}

.store-card h4 {
    margin-top: 5px;
}

[class*="card"]:hover #arrow {
    opacity: 0.5;
    transition: ease-in .2s;
}

[class*="card"]:hover {
    transition: ease-in .2s;
    transform: scale(1.01);
    cursor: pointer;
}

.discord-widget {
    margin: 0 auto;
    width: 32rem;
}

.discord-widget img {
    padding: 10px;
    margin-right: auto;
    margin-left: .75rem;
    z-index: 1;
}

.arrov {
    position: relative;
    left: 15px;
}

.smallerimg {
    float: left;
    top: 0;
}

/*
@media (max-width: 576px) {
    body{
        background-size: 150vw 100vh;
        background-position: top;
        background-repeat: no-repeat;
    }
}
@media (min-width: 768px) {
    body{
        background-size: 100vw 125vh;
        background-position: top;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1400px) {
    body{
        background-size: 100vw 150vh;
        background-position: top;
        background-repeat: no-repeat;
    }

}